name: главный

on:
  push:
  pull_request:

permissions:
  contents: write

jobs:
  build:
    strategy:
      fail-fast: false
    name: "Сборка PDF"
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: "Скачивание Typst"
        run: sudo snap install typst

      - name: "Сборка PDF файлов"
        run: |
          mkdir -p build

          declare -A sources_2_3=(
            [theoritecal_mechanics]='Theoritecal-mechanics'
          )

          declare -A sources_3=(
            [differential_equations]='Differential-equations'
            [material_theory]='Material-science'
            [probability_theory]='Probability-theory'
            [psychology]='Psychology'
          )

          declare -A sources_3_4=(
            [strength_of_materials]='Materials-strength'
          )

          set -x

          for subject in "${!sources_2_3[@]}"; do
            typst compile \
              "materials/semester-2-3/${subject//_/-}/lectures.typ" \
              "build/Lectures_of_${sources[$subject]}.pdf"
          done

          for subject in "${!sources_3[@]}"; do
            typst compile \
              "materials/semester-3/${subject//_/-}/lectures.typ" \
              "build/Lectures_of_${sources[$subject]}.pdf"
          done

          for subject in "${!sources_3_4[@]}"; do
            typst compile \
              "materials/semester-3-4/${subject//_/-}/lectures.typ" \
              "build/Lectures_of_${sources[$subject]}.pdf"
          done

      - name: "Выкладывание PDF"
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v6
        with:
          name: "Materials"
          path: build/*.pdf
          if-no-files-found: ignore

  update-release:
    needs: [build]
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
    strategy:
      fail-fast: false
    name: "Выкладывание PDF в страницу Releases"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/download-artifact@v7
        id: artifacts

      - name: "Установка времени изменения"
        run: |
          sed -i "s/%DATE%/$(date -u +'%F %T UTC+0')/" LINKS.md

      - name: "Обновление тега 'latest'"
        uses: softprops/action-gh-release@v2.5.0
        if: steps.artifacts.outcome == 'success'
        with:
          body_path: LINKS.md
          draft: false
          prerelease: false
          files: |
            *.pdf
          name: "Материалы с пар"
          tag_name: "latest"
          target_commitish: ${{ github.sha }}
          make_latest: true
